
.lps_container{
	border:black 1px solid;
	display: block;
	overflow: auto;

}

#sortable { 
	list-style-type: none; 
	margin: 0;
	padding: 0; 
	width: 900px; 
}

#sortable .lps_icon {
	margin: 13px 13px 13px 6px; 
	float: left; 
	width: 190px; 
	height: 90px; 
	font-size: 4em; 
	text-align: center;
	background-color: white;
	border: black solid 1px;
}

#sortable .lps_icon_small{
	background-color: orange;
}

#sortable .lps_icon_group{
	border: green solid 1px;
	background-color : purple;
}

#sortable .lps_icon_over {
	background-color:gray;
	border:red solid 1px;
}

.sortable-placeholder{
	margin: 13px 13px 13px 6px; 
	padding: 1px; 
	float: left; 
	width: 90px; 
	height: 90px; 
	font-size: 4em; 
	text-align: center;
	background-color:yellow;
}


