
.lps_container{
	border:black 1px solid;
	display: block;
	overflow: auto;

}

#sortable { 
	list-style-type: none; 
	margin: 0px;
	padding: 0px; 
	width: 1600px;
	height: 1056px;
	background: url("http://www.hdwallpapers.in/walls/shining_edge_universe-normal.jpg");
}

#sortable .lps_icon {
	margin: 15px;
	margin-top:15px;
	margin-bottom:30px;
	float: left; 
	width: 280px; 
	height: 150px; 
	text-align: center;
}


#sortable .lps_icon_group{
	border-radius: 20px;
	background-color:rgba(255,255,255,0.3);
	width: 280px;
	height:150px;
	overflow: hidden;
	float:left;
}


.lps_icon .lps_icon_image{
	width:150px;
	height:150px;	
}

#sortable .lps_icon_small{

}
#sortable .lps_icon_small .lps_icon_image{
	width:100px;
	height:100px;
}

#sortable .lps_icon_group .lps_icon_image{
	width:50px;
	height:50px;
} 

.lps_icon_group .lps_icon_image{
	width:50px;
	height:50px;
	float:left;
	margin:1px;
	/*background-color: orange;*/
}

#sortable .lps_icon_over{
	background-color:rgba(255,255,255,0.15);
	/*border:1px solid black;*/
	/*width:150px;*/
	/*height:50px;*/
	border-radius:20px;
	display:block;
	/*border:red solid 1px;*/
}

#sortable .lps_icon_over .lps_icon_image{
	width:100px;
	height:100px;
}

#sortable .lps_icon_over .lps_icon_image{
	width:100px;
	height:100px;
	float:left;
}

#sortable .lps_icon_group .lps_icon_image{
	width:50px;
	height:50px;
}


.sortable-placeholder{
	margin: 13px 13px 13px 6px; 
	padding: 1px; 
	float: left; 
	width: 150px; 
	height: 150px; 
	/*font-size: 4em; */
	text-align: center;
	background-color:yellow;
}


.icon_description{
	/*display:none;*/
	color:white;
	background-color: rgba(0,0,0,0.2);
	border-radius:5px;
	width:150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


.lps_icon_over .icon_description{
	display:none;
	color:white;
	background-color: rgba(0,0,0,0.2);
	border-radius:5px;
	width:50px;
}

.lps_icon_group .icon_description{
	display:none;
	color:white;
	background-color: rgba(0,0,0,0.2);
	border-radius:5px;
	width:50px;
}

.lps_icon_group .group_description{
	/*display:none;*/
	float:left;
	color:white;
	background-color: rgba(0,0,0,0.2);
	border-radius:5px;
	width:50px;
}